#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider-4 P {
  text-align: left;
}
#content5-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-article {
  color: #fff;
}
#image2-19 SMALL {
  text-align: left;
}
#msg-box3-16 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-16 .mbr-header .mbr-header__subtext {
  text-align: center;
}
